.aws-dark-gray-1
{color:rgb(250,250,250)!important;background-color:rgb(35,47,60)!important}
.aws-dark-gray-1-text
{color:rgb(35,47,60)!important}

.aws-dark-gray-2
{color:rgb(250,250,250)!important;background-color:rgb(59,76,89)!important}
.aws-dark-gray-2-text
{color:rgb(59,76,89)!important}

.aws-dark-gray-3
{color:rgb(250,250,250)!important;background-color:rgb(78,88,98)!important}
.aws-dark-gray-3-text
{color:rgb(78,88,98)!important}

.aws-dark-gray-4
{color:rgb(250,250,250)!important;background-color:rgb(73,86,90)!important}
.aws-dark-gray-4-text
{color:rgb(73,86,90)!important}

.aws-dark-gray-5
{color:rgb(250,250,250)!important;background-color:rgb(143,168,194)!important}
.aws-dark-gray-5-text
{color:rgb(143,168,194)!important}

.aws-dark-orange
{color:rgb(35,37,60)!important;background-color:rgb(253,152,49)!important}
.aws-dark-orange-text
{color:rgb(253,152,49)!important}

.aws-dark-red
{color:rgb(35,37,60)!important;background-color:rgb(249,90,83)!important}
.aws-dark-red-text
{color:rgb(249,90,83)!important}

.aws-dark-pink
{color:rgb(35,37,60)!important;background-color:rgb(252,85,139)!important}
.aws-dark-pink-text
{color:rgb(252,85,139)!important}

.aws-dark-purple
{color:rgb(35,37,60)!important;background-color:rgb(157,113,249)!important}
.aws-dark-purple-text
{color:rgb(157,113,249)!important}

.aws-dark-blue
{color:rgb(35,37,60)!important;background-color:rgb(78,134,249)!important}
.aws-dark-blue-text
{color:rgb(78,134,249)!important}

.aws-dark-cyan
{color:rgb(35,37,60)!important;background-color:rgb(34,163,196)!important}
.aws-dark-cyan-text
{color:rgb(34,163,196)!important}

.aws-dark-turquoise
{color:rgb(35,37,60)!important;background-color:rgb(92,191,168)!important}
.aws-dark-turquoise-text
{color:rgb(92,191,168)!important}

.aws-dark-green
{color:rgb(35,37,60)!important;background-color:rgb(112,171,74)!important}
.aws-dark-green-text
{color:rgb(112,171,74)!important}

.aws-light-white-1
{color:rgb(35,47,60)!important;background-color:rgb(250,250,250)!important}
.aws-light-white-1-text
{color:rgb(250,250,250)!important}

.aws-light-white-2
{color:rgb(35,47,60)!important;background-color:rgb(234,243,233)!important}
.aws-light-white-2-text
{color:rgb(234,243,233)!important}

.aws-light-white-3
{color:rgb(35,47,60)!important;background-color:rgb(230,242,248)!important}
.aws-light-white-3-text
{color:rgb(230,242,248)!important}

.aws-light-white-4
{color:rgb(35,47,60)!important;background-color:rgb(239,240,243)!important}
.aws-light-white-4-text
{color:rgb(239,240,243)!important}

.aws-light-orange
{color:rgb(250,250,250)!important;background-color:rgb(214,102,42)!important}
.aws-light-red
{color:rgb(250,250,250)!important;background-color:rgb(211,42,53)!important}
.aws-light-pink
{color:rgb(250,250,250)!important;background-color:rgb(202,43,100)!important}
.aws-light-purple
{color:rgb(250,250,250)!important;background-color:rgb(101,71,192)!important}
.aws-light-blue
{color:rgb(250,250,250)!important;background-color:rgb(53,81,199)!important}
.aws-light-cyan
{color:rgb(250,250,250)!important;background-color:rgb(23,128,182)!important}

.aws-light-turquoise
{color:rgb(250,250,250)!important;background-color:rgb(36,122,104)!important}
.aws-light-turquoise-text
{color:rgb(36,122,104)!important}

.aws-light-green
{color:rgb(250,250,250)!important;background-color:rgb(68,132,48)!important}
.aws-light-green-text
{color:rgb(68,132,48)!important}
