.aws-dark-gray-1
{color:rgb(250,250,250)!important;background-color:rgb(35,47,60)!important}

.aws-dark-orange
{color:rgb(35,37,60)!important;background-color:rgb(253,152,49)!important}
.aws-dark-red
{color:rgb(35,37,60)!important;background-color:rgb(249,90,83)!important}
.aws-dark-pink
{color:rgb(35,37,60)!important;background-color:rgb(252,85,139)!important}
